  /* gris oscuro = #1d252c
  gris claro = #626262
  background gris = #1b2127
  celeste =#026fff*/
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  .text-center{
    text-align: center;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem;
    height: 3rem;
  }

  #hidrocampo .navbar{
    height: 80px;
    background-color: rgba(0,0,0,0.7)!important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  #hidrocampo .navbar-nav{
    margin-right: 0!important;
    margin-left: auto;
  }

  #hidrocampo .navbar-nav .nav-link{
    font-size: 1em;
    font-weight: 200;
    padding: 0.2rem 0 0 3rem;
    color: rgba(255,255,255,.85);
  }

  #hidrocampo .navbar-nav .nav-link.active{
    font-weight: 600;
  }

  #hidrocampo .carousel-item .d-md-block{
    display: flex!important;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  #hidrocampo .carousel-item .carousel-caption h5{
    font-family: 'Montserrat', sans-serif;
    color:rgba(255,255,255,0.9);
    font-size: 5em;
    font-weight: 800;
    margin-top: 50px;
  }

  #hidrocampo .carousel-item .carousel-caption h5 span{
    font-size: 1em;
    font-weight: 100;
  }

  #hidrocampo .carousel-item .carousel-caption p{
    color:rgba(255,255,255,0.9);
    font-size: 20px;
    font-weight: 100;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    /* tipo de peso en funete*/
    /* font-style: italic; = tipo de fuente*/
  }

  h1 {
    font-size: 40px;
    /*tamaño de fuenta*/
    line-height: 1.5;
    /* alto de linea*/
    letter-spacing: -.2px;
    /* espaciado de texto*/
    color: white;
    margin: auto;
    /* text-transform: uppercase; /* mayusculas, minusculas */
    /* text-decoration: underline;   subrayado, tachado etc*/
  }

  h1 strong {
    /*----> asi se referencian etiquetas desendentes*/
    color: rgb(19, 96, 166);
  }

  h2 {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    /* font-weight sirve para dar estilos como negrilla o italica*/
    font-size: 24PX;
    margin-bottom: 40px;
  }

  p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.8em;
  }

  .hero {
    height: 300px;
    /* background-image: url("images/smarta.jpg"); */
    /* background-size: 500px 300px; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .hero image {
    object-fit: cover;
  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-weight: 700;
    margin: 0;
    color: #3e3a3a;
    margin: 20px 0;
  }

  #nosotros, #galeria{
    padding: 5em 0;
  }

  header{
    margin-bottom: 3em;
  }

  header p{
    font-size: 1.1em;
    width: 75%;
    margin: 0 auto 10px auto;
    text-align: center;
  }

  .contenedorGaleria{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .contenedorGaleria .image img{
    max-width: 100%;
    object-fit: cover;
    -moz-object-position: center top;
    -webkit-object-position: center top;
    -ms-object-position: center top;
    object-position: center top;
  }

  .contenedorGaleria .contenedorGalleft{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px 0 0;
    margin: 0;
  }

  .contenedorGaleria .contenedorGalright{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    margin: 0;
  }

  .contenedorGaleria .contenedorGalleft .image:nth-child(1) {
    width: 100%;
    height: 160px;
    background: url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom: 8px;
  }

  .contenedorGaleria .contenedorGalleft .image:nth-child(2), .contenedorGaleria .contenedorGalleft .image:nth-child(3) {
    width: 49%;
    height: 150px;
  }

  .contenedorGaleria .contenedorGalleft .image:nth-child(2){
    background: url('../images/img2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .contenedorGaleria .contenedorGalleft .image:nth-child(3){
    background: url('../images/img4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  .contenedorGaleria .contenedorGalright .image:nth-child(1) {
    width: 100%;
    height: 100%;
    background: url('../images/img3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  #nosotros .icon{
    text-align: center;
    width: 100%;
    max-width: 90px;
    margin: 20px 0;
  }

  #nosotros h3{
    font-family: 'Montserrat', sans-serif;
    color: #3e3a3a;
    font-weight: 500;
    font-size: 1.1em;
    margin: 1em 0 0.5em 0;
  }

  .btn-verMas{
    background: #a1c543;
    border: none;
    border-radius: 20px;
    padding: 0.4em 2em;
    font-size: 13px;
  }

  .btn-verMas:hover{
    background: #43c5bf;
  }

  #destacado{
    moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    position: relative;
    overflow-x: hidden;
    text-align: left;
    background: #fff7f7;
  }

  #destacado .image{
    moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    width: 40%;
    border-radius: 0;
    display: inline-block;
    position: relative;
  }

  #destacado .image img{
    /*max-width: 100%;*/
    width: calc(100% + 50px);
    width: -webkit-calc(100% + 50px);
    opacity: .8;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,-webkit-transform .35s;
    -o-transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    -moz-object-position: center top;
    -webkit-object-position: center top;
    -ms-object-position: center top;
    object-position: center top;
    
  }

  #destacado .image:hover img{
    -webkit-transform: translate3d(-50px,0,0);
    transform: translate3d(-50px,0,0);
    opacity: 1;
  }

  #destacado .content{
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10em;
    justify-content: center;
  }

  #destacado .content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 100%;
    font-weight: 200;
    margin: 0 0 0.5em 0;
  }

  #destacado .content p{
    font-weight: 200;
    text-align: left;
    width: 80%;
  }

  .Portafolio {
    background: #eeeeee;
    padding: 20px;
    /* el padding se utiliza para que las cajas no se peguen al las paredes*/
  }

  .project {
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; margenes  */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    /*modeo de mostrar los elementos*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }

  .project-descripction {
    font-size: 20px;
  }

  .project strong {
    font-size: small;
    font-family: "Fjalla One", sans-serif;
  }

  .project-title {
    font-size: 30px;
    margin: 10px 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .project-details {
    width: 50%;
  }

  .project-imageContainer {
    width: 50%;
  }

  .project-imageContainer img {
    max-width: 100%;

  }

  .project-descripction {}

  .header {
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    /*distribuye los espacios entre elementos dentro del contenedor tipo flex*/
    height: 70px;
    flex-wrap: wrap;
  }

  .menu {
    /* .menu hereda de .header */
    height: inherit;
  }

  .header ol {
    /* .header ol hereda de .menu */
    display: flex;
    height: inherit;
  }

  .header ol li {
    /* .header ol li hereda de .header ol */
    height: inherit;
  }


  .header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
        /* estaciado entre los elementos */
  }

  .header a:hover  {
    color: #c67418;
    /* esto se usua para que cambie de color el seector cuando se pasa el mouse sobre el elemento */
  }

  .flexbox {
    display: flex;
    text-decoration: none;
    height: inherit;
  }

  .box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
    /* justify-content: center,flex-end,flex-start; se utiliza para el estaciado entre elementos */
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  figure {
    margin: 0;
  }

  .footer {
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer img {
    vertical-align: middle;
  }

  .footer a {
    color: white;
  }

  .footer ol {
    padding: 10px;
  }

  .event-list {
    display: flex;
    flex-wrap: wrap;
  }

  .event-list-title {
    margin-left: 20px;
  }

  .event {
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    /*sirve para la margen de objectos*/
    overflow: hidden;
    /*genera scroll ayuda alinear dentro de una margen*/
    background: #f4fbff;
  }

  .event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
  }

  .event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    /*posicion sobre elementos*/
    padding: 20px;
    text-align: center;
  }

  .event-descripction {
    text-align: left;
  }

  .event-url {
    color: #1360a6;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .contact {
    background-color: #467fcd;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .social {}

  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
  }

  .social-link.twitter {
    background-image: url("images/twitter.svg");
  }

  .social-link.facebook {
    background-image: url("images/facebook.svg");
  }

  .social-link.github {
    background-image: url("images/github.svg");
  }

  .social-link.instagram {
    background-image: url("images/instagram.svg");
  }

  .form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url("images/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
  }

  .form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto 0; */
  }

  .form-email h3 {
    font-family: "Source Sans Pro", sans-serif;
  }


  @media screen and (max-width: 1024px) {

    .project-details {
      height: 50%;
    }

  }

  @media screen and (max-width: 767px) {

    .header {
      display: block;
      height: auto;
    }
    .header ol {
      display: initial;
    }

    .header ol li {
      height: 50px;
    }

    .header a {
      justify-content: center;
    }

    .header .logo {
      text-align: center;
    }
    .project {
      display: block;
    }

    .project-imageContainer {
      width: auto;
      text-align: center;
    }

    .project-details {
      width: auto;
      /* font-size: 16px; */
    }

    .project-title {
      font-size: 1.5em;
    }
    .project-url {
      font-size: 1em;
    }
    .project-course {
      font-size: 2em;
    }
    .project-date {
      font-size: 1em;
    }
    .project-descripction{
      font-size: .3em;
    }

    .event{
      width: auto;
      flex-shrink: initial;
    }
  }

  @media screen and (max-width: 480px) {

    .project-details {
      width: auto;
      font-size: 12px;
    }

  }

  @media screen and (max-width: 320px) {

  }
